/************************************************************
polices
************************************************************/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,300,700);



/************************************************************

************************************************************/
body{
	font-family: 'Montserrat', serif;
	color:#565656;
}

.container-fluid{max-width: 1200px;}
.container {width:100%;padding-left:0px;padding-right:0px;}


/************************************************************
couleurs
************************************************************/

.bg-grey{background-color: #f0f0f0;}
.bg-darkgrey{background-color: #D0D4D5;}
.bg-red{background-color: #e2575f;}
.bg-green{background-color: #3da67f;}
.bg-white{background-color: #ffffff;}
.bg-darkblue{background-color: #1d3651;}
.bg-lightblue{background-color: #44b8ca;}
.bg-yellow{background-color: #efaf42;}


.white{color:white;}
.lightblue {color: #44b8ca;} /*bleu clair*/
.red{color:#e7525f;} /*rouge*/
.green{color:#3da67f;} /*vert*/
.yellow{color:#efaf42;}


a{color: #1d3651;}
/************************************************************
header
************************************************************/
#home{
	display:inline-block;
	height:100px;
	position:relative;
	z-index:10;
	background-color:#42b9cb;
	box-shadow : 1px 1px 12px #555;
}

#participer {
	margin-bottom:-1px;
	height:60px;padding-top:10px;
}

#participer a {
	font-size:1.1em;
	color:#FFFFFF;text-align:center;
}

#participer a span{text-transform: uppercase;font-family:'Montserrat';font-weight:bold;}

	/************************************************************
	navbar
	************************************************************/
	nav .container-fluid{
		padding:0px 0px;
	}

	.nav{padding-top:10px;}
	.navbar{border: 0px solid transparent;}
	.navbar-default{background-color:transparent;}
	.navbar-default .navbar-brand {
		padding-top: 25px;
    	color:#173350;
	}
	.navbar-default .navbar-nav li a {
		color:#173350;	
		text-transform: uppercase;
		font-family:'Montserrat';font-weight:bold;
	}
	.navbar-default .navbar-nav .dropdown-menu li a {
		color:#173350;
		text-transform: none;
		font-family:'Montserrat';font-weight:lighter;
	}

	@media screen and (min-width:1200px){
		.navbar-default .navbar-nav li a {
			letter-spacing: 0.2em;
		}
	}
	@media screen and (max-width:1115px){
		.nav li a {
			padding-left: 5px;padding-right: 5px;
		}
	}

	.navbar {
		margin-bottom: 0px;
	}

	.navbar-collapse{padding-left:0px;}

	/*sous menu déroulant*/
	.dropdown-submenu{
		position:relative;
	}

	.dropdown-submenu>.dropdown-menu{
		top:0;
		left:100%;
		margin-top:-6px;
		margin-left:-1px;
		border-radius:0 6px 6px 6px;
	}

	.dropdown-submenu:hover>.dropdown-menu{
		display:block;
	}

	.dropdown-submenu>a:after{
		display:block;
		content:" ";
		float:right;
		width:0;
		height:0;
		border-color:transparent;
		border-style:solid;
		border-width:5px 0 5px 5px;
		border-left-color:#cccccc;
		margin-top:5px;
		margin-right:-10px;
	}

	.dropdown-submenu:hover>a:after{
		border-left-color:#ffffff;
	}

	.dropdown-submenu.pull-left{
		float:none;
	}

	.dropdown-submenu.pull-left>.dropdown-menu{
		left:-100%;
		margin-left:10px;
		border-radius:6px 0 6px 6px;
	}


	#navbar {padding-left:30px;}



	#banniere{
		background: #42b9cb url(../images/logo-getup-v2.png) no-repeat center center;/*bleu clair*/
		height:350px;
	}

	@media screen and (max-width:500px){
		#banniere{	
			background-image: url(../images/logo-getup-v2_sm.png);
			height:200px;
		}

	}

	@media screen and (min-width:992px){
		#main{
			position:relative;top:-40px;/*logo chevauche la bannière*/
		}
	}

/************************************************************
	bas de page
	************************************************************/
	#partenaires{padding-bottom:70px;margin-bottom:-50px;}

	#footer{background-color:#173350;padding-top:40px;color:white;}
	#footer ul {text-align:left;}
	#footer li{color:#42B9CB;display:block;text-transform:uppercase;}
	#footer li:first-child{color:white;font-weight:bold;}
	#footer li:first-child a{color:white;font-weight:bold;}

	#footer li a{color:#44b8ca;}

	@media screen and (max-width:479px){
		#footer ul{padding-left:0px;}
	}

	#menu {
		-moz-column-count: 2;
		column-count: 2;
	}

	@supports  (-webkit-column-count:2) {
		#menu {
			-webkit-column-count: 2;
		}
	}
	#reseaux {	
		font-family:'Montserrat';font-weight:bold;
		text-transform:uppercase;color:white;margin-top:20px;
	}

	#reseaux ul {margin:auto;width:120px;padding:0px;}
	#reseaux li {margin:15px;display:inline-block;}

	@media screen and (max-width:991px){
		#twitter{margin-bottom:40px;}
	}

	#twitter{background-color:#08192B;border-radius:20px;position:relative;top:-90px;padding-left:10px;}

	@media screen and (max-width:991px){
		#twitter{position:relative;top:0px;}
	}

	#twitter h3 {color:#44b8ca;}
	#liens {background-color:#08192B;padding:20px 0px;}
	#liens ul{padding-left:0px;}
	#liens li{display:inline-block;margin:0px 20px;}
	#liens a{color:white;}

	#liens div:first-child{color:#495462;text-transform:uppercase;font-weight:bold;}





/************************************************************

************************************************************/
section .row:first-child{margin-top:20px;margin-bottom:20px;}

/*on sélectionne 1 élément sur 2 à partir du 2ème*/
section:nth-child(2n+1) {
	background-color: #e0e0e0; /*gris*/	
}

h2{
	font-size:43px;font-weight: bold;

}
h1,h2,h3,h3 a {
	color:#173350;/*bleu*/

}


.chapeau{ 
	font-family: 'Roboto', serif;font-size:21px;font-weight: lighter;
}

.chapeau-bold{
	font-weight: bold;
}

#next h3, #next .prix {
	font-family: 'Montserrat', serif;font-size:22px;font-weight: bold;

}

#next .chapeau{
		font-family: 'Roboto', serif;font-size:17px;font-weight: lighter;

}
#next {
		font-family: 'Roboto', serif;font-size:13px;font-weight: lighter;

}

.chapo{
	font-size:1.5em;
	text-align:center;
}

.important{
	text-align:center;
	font-size:1.2em;
}

.nom {font-weight:bold;font-size:1.2em;}
.titre{font-weight:bold;}
.desc{text-align:center;}

strong {font-family:'Montserrat';font-weight:400;color:black;}



/************************************************************
aside : onglet jaune;
************************************************************/
aside {
	background-color:#F0B140;/*jaune*/
	border-radius: 20px;
	padding:10px;
	color:white;
	box-shadow:1px 1px 12px #555;
}

aside h3 { 
	color:white;
}

/*place le aside à cheval sur la bannière sur les grandes tailles*/
@media screen and (min-width: 768px){
	aside{
		position:relative; 
		top: -50px;
		margin-left:-30px;
	}	
}

@media screen and (min-width:992px){
	aside{
		top: -90px;
	}	
}



/************************************************************
boutons
************************************************************/
.button {
	border-radius: 20px;
	text-transform: uppercase;
	background-color:transparent;
	font-family:'Montserrat';font-weight :bold;
	margin:10px;
	font-size: 1.2em;
	text-align: center;
	display:inline-block;
}

.button a{
	display:block;
	width:100%;
	height:100%;
	text-decoration: none;
	padding: 10px 30px;
}

.button2 a{
	display:block;
	width:100%;
	height:100%;
	text-decoration: none;	
}

.button:hover{  background-color: rgba(0, 0, 0, 0.1);
}

.btn-blue {border:2px solid #173350;}

.btn-blue  a{color:#173350;}

.btn-white {border:2px solid white;}

.btn-white  a{color:white;}

.btn-red {border:2px solid #E85865;}

.btn-red  a{color:#E85865;}

.btn-green {border:2px solid #44AB85;}

.btn-green a{color:#44AB85;}

.btn-yellow {border:2px solid #F0B140;}

.btn-yellow a{color:#F0B140;}

/************************************************************
icones
************************************************************/
.vignette {
	padding:30px;
	min-height:160px;
	background-repeat:no-repeat;
	color:#173350;
	padding-left:160px;
}

/*image à gauche du texte pour les grandes tailles*/
.vignette-gauche{
	background-position: 30px center;
}

.vignette-haut{
	background-position: 30px 30px;
}





.vignette-haut h3{margin-bottom:20px;padding-bottom:20px;border-bottom: 1px solid #1d3651;}

.vignette-haut ul {padding-left:15px;font-family: 'Roboto', sans-serif;font-size:14px;}


.carre-large-col-right{
	background:url('../images/chateau3.jpg'); 
	background-position: center center;
	min-height:330px;
}

#business{
	background-image:url(../images/bmc_100.png);
}

#cdc{
	background-image:url(../images/cdc_100.png);
}

#design{
	background-image:url(../images/design_100.png);
}

#mobile{
	background-image:url(../images/mobile_100.png);
}

#commerce{background-image:url(../images/commerce_100.png);
}


/************************************************************
ce que j'obtiens
************************************************************/
.titre1{
	text-transform:uppercase;
}

.titre2{
	font-family: 'Roboto', sans-serif;
	font-size:18px;
}

h3 {	font-family: 'Montserrat', sans-serif;font-weight:bold;font-size:23px;
}



#commerce2{
	font-size:1.2em;
	background-image:url(../images/commerce_55.png);
	background-repeat:no-repeat;
	background-position: left center;
	background-repeat:no-repeat;padding-left:60px;
}





#conclusion{
	color:white;
}

#conclusion p:first-child{font-family: 'Roboto'; font-size:17px;}
#conclusion p:nth-child(2){font-family: 'Roboto'; font-size:21px;font-weight: :bold;}


.description{font-family:'Roboto';font-size:16px;}
#intervenants .description p:first-child:first-line{font-size:18px;font-weight:bold;}
#intervenants .description p:nth-child(2){font-size:14px;}


#lieu .description {font-weight:lighter;}
#lieu .description p:nth-child(2){font-size:18px;}
#lieu .description p:nth-child(3){font-size:14px;}
#lieu .description p:nth-child(4){font-weight: bold;}


/*resumé page session*/


.resume{
	height:75px;display:table;
}

.resume:nth-child(-n+3){border-right:1px solid #ACAEAD;}

@media screen and (max-width:768px){
	.resume:first-child{border-right:1px solid transparent;}
	.resume:nth-child(2), .resume:nth-child(3), .resume:nth-child(4){border-top:1px solid #ACAEAD;}
	.resume:nth-child(3){border-right:1px solid transparent;}

}


.resume2{
	display: table-cell; vertical-align: middle;
}

.resume2 a{color:white;}
/************************************************************
onglets page session
************************************************************/
.onglet {
	margin-top:20px;
	margin-bottom:20px;
}
.onglet .top {
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	padding:10px;
	padding-left:20px;
}

.onglet .top h2 {
	color:white;margin-top:5px;margin-bottom:5px;font-size:23px;
}

.onglet .tarif{
	background-color:white;
	border-top:1px solid #D9DCE1;
	border-left:1px solid #D9DCE1;
	border-right:1px solid #D9DCE1;
	color:#1d3651;
}
.onglet .inv {
	background-color:white;
}
.onglet .inv h2 {
	color:#1d3651;
}



.onglet .fleche-bas {
	width:0px;border:15px solid transparent;border-top:15px solid #1d3651;z-index:10;position:relative;top:-20px;
}

.onglet .fleche-inv {
	border-top-color:white;float:right;position:relative;top:-25px;left:-10px;
}

.onglet .bottom{
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	padding:20px;
}

.onglet .bottom p{font-family: 'Roboto';font-size: 18px;font-weight:lighter;}

.onglet .left{
	background-color:#D0D4D5;padding:10px;display:inline-block;width:80px;
	padding-bottom:5px;
}

.onglet .right{

	background-color:#EBEFF0;
	padding:10px;
	display:inline-block;
	width: calc(100% - 84px);

	padding-bottom:5px;


}

.onglet ul{
	list-style-type:none;
	margin-left:0;
	padding-left:0;
}

.onglet li{
	margin-bottom:10px;
}

/*cadres*/

.cadre-arrondi{
	border-radius:20px;
	margin:0px;
	margin-top:10px;
	margin-bottom:10px;
}

.cadre-1 {padding:20px;}

.cadre-arrondi h1,.cadre-arrondi h2,.cadre-arrondi h3{
	margin-top:0px;
}

.cadre-2 .cadre-arrondi-gauche{
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	padding:20px;
}

/*placé ici pour surcharger "padding:20px" de la classe au dessus*/
.cadre-2 .vignette {
	padding-left:160px;/
}

.cadre-2 .cadre-arrondi-droit{
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	padding:20px;
}

.cadre-3 .cadre-arrondi-haut{
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;			
}

.cadre-3 .cadre-lisere{margin-bottom:-30px;}

.cadre-3 .cadre-img{padding:0px;}

.cadre-3 .cadre-arrondi-gauche{
	border-bottom-left-radius: 20px;
	padding:20px;
}

.cadre-3 .cadre-arrondi-droit{
	border-bottom-right-radius: 20px;
	padding:20px;
}

.cadre-3 .cadre-arrondi-haut img{
	width:100%;
	border-top-right-radius:20px;
	border-top-left-radius:20px;
}

		/*@media screen and (max-width:1200px){
			.cadre-2 .lg .cadre-arrondi-gauche{border-bottom-left-radius:0px;border-top-right-radius: 20px;}
			.cadre-2 .lg .cadre-arrondi-droit{border-top-right-radius: 0px;border-bottom-right-radius: 20px;}
		}*/

		@media screen and (max-width:992px){
			.col-md .cadre-2 .cadre-arrondi-gauche{border-bottom-left-radius:0px;border-top-right-radius: 20px;}
			.col-md .cadre-2 .cadre-arrondi-droit{border-top-right-radius: 0px;border-bottom-left-radius: 20px;border-bottom-right-radius: 20px;}
		}

		/*@media screen and (max-width:768px){
			.cadre-2 .sm .cadre-arrondi-gauche{border-bottom-left-radius:0px;border-top-right-radius: 20px;}
			.cadre-2 .sm .cadre-arrondi-droit{border-top-right-radius: 0px;border-bottom-right-radius: 20px;}
			}*/

		@media screen and (max-width:480px){
			.col-xs .cadre-3 .cadre-arrondi-gauche{
				border-radius: 0px;
			}
			.col-xs .cadre-2 .cadre-arrondi-gauche{border-bottom-left-radius:0px;border-top-right-radius: 20px;}
			.col-xs .cadre-2 .cadre-arrondi-droit{border-top-right-radius: 0px;border-bottom-left-radius: 20px;border-bottom-right-radius: 20px;}

		}


.liseret{
	background-color: rgba(0, 0, 0, 0.7);
	color:white;
	font-family:'Montserrat';
	font-weight:bold;
	font-size: 13px;
	padding:5px 10px;
	text-align:left;
	position:relative;
	top:-30px;
	height:30px;	
}

/*image au dessus du texte pour les petites tailles*/
@media screen and (max-width: 500px){
	.vignette-gauche, .vignette-haut, .cadre-2 .vignette{
		padding-left:30px;
		padding-top:160px;
		background-position: center 30px;
	}
	

}
